@import "../Vars.scss";
.Search {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.Search__Filter {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 90%;
  background-color: $color4;
  border-radius: 100px;
  margin: 20px 50px;
  box-shadow: 3px 3px 5px rgba($color: #000000, $alpha: 0.5);
}

.Search a {
  margin-right: 50px;
}
