@charset "UTF-8";
.card-container {
  max-width: 900px;
  margin: 0 auto;
}

.c-card {
  display: inline-block;
  width: 100%;
  max-width: 350px;
  margin: 20px;
  cursor: pointer;
  transition: all 0.3s ease;
  text-align: left;
  background: #fff;
  box-shadow: 0 6px 10px -5px rgba(0, 0, 0, 0.2);
  border-radius: 25px 25px;
}
.c-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 20px 20px -15px rgba(0, 0, 0, 0.3);
}
.c-card__image {
  max-width: 100%;
  border-top-left-radius: 25px 25px;
  border-top-right-radius: 25px 25px;
}
.c-card__body {
  padding: 15px;
}
.c-card__title {
  font-size: 20px;
  font-weight: 800;
  line-height: 1.2;
  margin-top: 15px;
  padding: 0;
  display: flex;
}
.c-card__footer {
  padding: 20px;
  border-top: 1px solid #ddd;
}
.c-card__cama {
  width: 25px;
}
.c-card__bañera {
  width: 25px;
  margin-left: 100px;
}
.c-card__metros {
  width: 25px;
  margin-left: 100px;
}
.c-card__corazon {
  width: 60px;
  margin-left: 120px;
  margin-bottom: 30px;
}